@import url("https://fontlibrary.org//face/minecraftia");

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'MinecraftiaRegular';
    box-sizing: border-box;
}

body {
    background-color: #0D1018;
}

nav {
    position: sticky;
    background-color: #181628;
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/background.png");
    background-position: center;
    backdrop-filter: blur(12px);
    width: 100%;
    height: 724px;
}

.Header h1 {
    font-size: 100px;
}

.Header p {
    font-size: 32px;
    padding: 6px 0;
}

.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 0;
}

.About h1 {
    text-align: center;
    font-size: 64px;
}

.About-Text {
    background-color: #141827;
    border-radius: 16px;
    padding: 26px 20px;
    margin: 14px 0;
    width: 55%;
    font-size: 20px;
}

@media (min-width: 400px) {
    .About-Text {
        width: 75%;
    }
}

.FadeUp {
    animation-name: FadeUp;
    animation-duration: 1s;
    animation-delay: 0.2s;
}

@keyframes FadeUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

footer {
    position: relative;
    background-color: #181628;
    width: 100%;
    border-radius: 12px 12px 0 0;
    bottom: 0;
    padding: 14px;
    text-align: center;
}

footer h2 {
    font-size: 28px;
    padding: 10px 0;
}

footer p {
    font-size: 16px;
}

.fSocial {
    padding: 18px 0;
    font-size: 28px;
}

.fSocial a {
    margin: 0 5px;
    opacity: 0.5;
    transition: 300ms;
}

.fSocial a:hover{
    opacity: 1;
}